.board{
    margin-top:50px;
    margin-left:30px;
    margin-right:30px;
    width:100%;
}

// h1{
    
//     font-size: 30px;
//     margin-bottom:30px
// }

// .line{
//     border-bottom:1px solid rgba(0,0,0,0.15);
// }

// .opacity{
//     opacity:0.4;
// }