<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글</title>
    <link rel="stylesheet" href="./board.css" />
  </head>
  <body>
    <div>
      <div class="board-name">자유게시판</div>
      <div class="list-wrap">
        <div class="board-top">
          <div class="title">제목 : 네이버 지도(v5) 임베드</div>
          <div class="writer">글쓴이 : 박성민</div>
          <div class="date">작성날짜 : 24-06-26</div>
          <div class="like">좋아요 : 0</div>
        </div>
        <div class="board-content">
          <div class="content-bg">
            <div class="content">어쩌구 어쩌구 어쩌구 어쩌구</div>
          </div>
        </div>
      </div>
      <div class="btn">
        <button class="submit">목록</button>
        <button class="submit">글쓰기</button>
      </div>
    </div>
  </body>
</html>
