<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글쓰기</title>
    <link rel="stylesheet" href="./write.css" />
  </head>
  <body>
    <div>
      <div class="board-name">자유게시판</div>
      <div class="list-wrap">
        <div class="input-title">
          <div class="sub-title">제목</div>
          <input type="title" class="i-title" />
        </div>
        <div class="input-content">
          <div class="sub-content">내용</div>
          <textarea class="i-content"></textarea>
        </div>
      </div>
      <div class="btn">
        <button class="submit">글쓰기</button>
      </div>
    </div>
  </body>
</html>
